#OSX
*~
.DS_Store
*.DS_Store

#Grale
.gradle
#gradle
gradlew*
#*.gradle

#Android generated
bin
gen
out
*.class

#Eclipse
.project
.classpath
.settings
local.properties
gradle-wrapper.properties
lint.xml

#IntelliJ IDEA
.idea
*.iml
*.ipl
build
captures

#Maven
target
release.properties
pom.xml.*

gradle/wrapper/gradle-wrapper.properties